.grid-padding {
	padding-left: 10px;
	padding-right: 5px;
}

.row-padding {
	padding-top: 15px;
}

.label-property {
	font-weight: bold;
	color: black !important;
}

.label-property-value {
	font-size: 95% !important;
}

.label-property-link {
	font-weight: bold;
	color: green;
	font-size: 95% !important;
}

.label-tipo {
	font-size: 80% !important;
}

.ios, .md {
 
    ubicacion-caballo {
 
      .scroll-content {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 25%;
      }
 
    }
 
}