.text-85 {
	font-size: 85% !important;
}

.text-fecha {
	padding-top: 10px;
}

.text-proximo {
	font-size: 80% !important;
	padding-top: 16px;
}

.no-padding-bottom {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

ion-grid {
	padding: 0px !important;
}

$card-ios-background-color: blue;
$card-md-background-color: blue;
$card-wp-background-color: blue;