<ion-header>
    <menu-superior (menuChange)="menuChange($event);"></menu-superior>
</ion-header>

<ion-content padding>
    <div *ngIf="menuSelected == 'caballos_ind'">
        <caballos-ind></caballos-ind>
    </div>
    <div *ngIf="menuSelected == 'caballos_gru'">
        <ion-label>Listado de grupos de caballos.</ion-label>
    </div>
    <div *ngIf="menuSelected == 'fotos_todas'">
        <ion-label>Listado de todas las fotos.</ion-label>
    </div>
    <div *ngIf="menuSelected == 'fotos_albums'">
        <ion-label>Listado de todos los álbums.</ion-label>
    </div>
    <div *ngIf="menuSelected == 'veterinarios_ind'">
        <ion-label>Listado de veterinarios.</ion-label>
    </div>
</ion-content>